{% extends 'base.html' %}

{% block content %}
    <h1>Admin - Add Event</h1>
    <form method="POST">
        <input type="text" name="event_name" placeholder="Event Name" required><br>
        <input type="date" name="event_date" placeholder="Event Date" required><br>
        <input type="time" name="event_time" placeholder="Event Time" required><br>
        <input type="text" name="event_location" placeholder="Event Location" required><br>
        <input type="number" name="available_tickets" placeholder="Available Tickets" required><br>
        <textarea name="event_description" placeholder="Event Description" required></textarea><br>
        <button type="submit">Add Event</button>
    </form>
{% endblock %}
